/* eliminating browser defaults */

*{

    Margin:0;
    
    Padding:0;
    
    Border:0;
    
    box-sizing: border-box;

    }


/* setting the body - text defaults */

 ul {
  list-style-type: none;
 }

 body {
    padding-left: 5%; 
    padding-right: 5%;
 }

 /*@media only screen and (max-width: 900px) {
  
    .w3-content {
      width: 100%;
    }
  } 
  */

 


/* favicons */


/* header */

.topThird{ 
    width:33.33333%;
    float:left;
    width:100%
}




.bioInfo {
    
    
}


#topLogo {
   max-width:  100%;
   height: auto;
}




/* main content */



/* footer */