/* eliminating browser defaults */


*{

    Margin:0;
    
    Padding:0;
    
    Border:0;
    
    box-sizing: border-box;

    font-family:'Roboto', sans-serif;

    }


/* setting the body - text defaults */

ul {
  list-style-type: none;
}


 /* container - grid */ 
 
 .container  { display: grid;
  grid-template-columns: 100%;
  grid-template-rows: 440px 1fr 200px;
  grid-auto-columns: 1fr;
  gap: 10px 5px;
  grid-auto-flow: row;
  grid-template-areas:
    "header"
    "main"
    "footer";
}

.header {  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows:  1fr 1fr;
  grid-auto-columns: 1fr;
  grid-auto-rows: 1fr;
  gap: 10px 0px;
  grid-auto-flow: row;
  grid-template-areas:
    "logo-block"
    "bio-info";
  grid-area: header;
}

.logo-block {  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  grid-auto-columns: 1fr;
  grid-auto-rows: 1fr;
  gap: 0px 0px;
  grid-auto-flow: row;
  grid-template-areas:
    ".";
  justify-self: center;
  grid-area: logo-block;
  margin-top: 30px;
  
}

.bio-info {
  grid-area: bio-info;
  justify-self:center;
}

.main {  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: 0.5fr 0.5fr;
  grid-auto-columns: 1fr;
  grid-auto-rows: 1fr;
  gap: 10px 0px;
  grid-auto-flow: row;
  grid-template-areas:
    "skills"
    "resume";
  grid-area: main;
  margin: 1% 0%;
}

.skills { grid-area: skills; 
  justify-self:center;
  margin-top: 30px;
  padding: 50px;
  box-shadow: 2px 2px 10px 2px lightgrey;
  border-radius: 10px;
  width:80%;
}

.resume {  display: grid;
  grid-template-columns: 100%;
  grid-auto-columns: 1fr;
  grid-auto-rows: auto;
  gap: 10px 10px;
  grid-auto-flow: row;
  grid-template-areas:
    "work-exp"
    "edu";
  grid-area: resume;
  justify-self:center;
  margin-top: 30px;
  padding: 50px;
  box-shadow:2px 2px 10px 2px lightgrey;
  border-radius: 10px;
  width:80%
}

.cvr-ltr { grid-area: cvr-ltr; }

.work-exp { grid-area: work-exp; }

.edu { grid-area: edu; }

.footer {  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto;
  gap: 10px 0px;
  grid-auto-flow: row;
  grid-template-areas:
    "footer-info ."
    "footer-info ."
    "footer-info .";
  grid-area: footer;
  background-color: #303135;
  margin-top: 50px;
}
 

.footer-info { grid-area: footer-info; }


 /* viewports - responsive web */
 
 @media (min-width: 900px) { 
 .container {  display: grid;
    grid-template-columns: 33.3% 66.7%;
    grid-template-rows: 260px 1fr 200px;
    gap: 10px 0px;
    grid-auto-flow: row;
    grid-template-areas:
      "header header"
      "main main"
      "footer footer"; 
    
  }

 
.header {  display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-auto-rows: 1fr;
    gap: 10px 0px;
    grid-auto-flow: row;
    grid-template-areas:
      "logo-block bio-info"
      "logo-block bio-info"
      "logo-block bio-info";
    grid-area: header;
  }
 


  .logo-block {  display: grid;
    grid-auto-columns: 1fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    justify-self: right;
    align-self: stretch;
    grid-area: logo-block;
   
  }


 
  .bio-info { grid-area: bio-info; 
    margin: 10px 10px;
    width: 100%;
    padding:20px;
    
    
}

  

  .main {  display: grid;
    grid-template-columns: 0.3fr 0.7fr;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 0px 10px;
    grid-auto-flow: row;
    grid-template-areas:
      "skills resume"
      "skills resume"
      "skills resume";
    grid-area: main;
    margin: 1% 10%;
  }



  .skills { grid-area: skills; 
    grid-auto-columns: 1fr;
    grid-auto-flow: row;
    grid-template-rows: auto;
    gap: 0px 0px;
    margin: 0px 20px 0px 0px;
    padding: 30px 20px 20px 20px;
    width: 100%;
  
    
}

  .resume {  display: grid;
    grid-template-columns: 100%;
    grid-template-rows: auto auto;
    grid-auto-columns: 1fr;
    grid-auto-rows: 1fr;
    gap: 10px 10px;
    grid-auto-flow: row;
    grid-template-areas:
      "work-exp"
      "edu";
    width: 100%;
    justify-self: none;
    grid-area: resume;
    margin: 0px 0px 0px 30px;
    padding: 20px 50px 50px 50px;
    height: 100%;
  }
  
 
  .work-exp { grid-area: work-exp; 
    
}
  
  .edu { grid-area: edu; 
}
  
  .footer {  display: grid;
    grid-template-columns: 33.3% 66.7%;
    grid-template-rows: 1fr 1fr 1fr;
    grid-auto-rows: 1fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
      ". footer-info"
      ". footer-info"
      ". footer-info";
    grid-area: footer;

  }
  
  .footer-info { grid-area: footer-info; 
    
}

} 

/*resume styles */

.resume hr {
  margin-top: 50px;
  margin-bottom: 50px;
  margin-left: auto;
  margin-right: auto;
  border-style: lightgrey;
  width: 100px;
}



/* skills section styles*/

.accordion .ctn {
  position: relative;
  margin: 10px 10px;
}

/* Positions the labels relative to the .container. Adds padding to the top and bottom and increases font size. Also makes its cursor a pointer */

.accordion .label {
  position: relative;
  padding: 10px 0;
  cursor: pointer;
}

/* Positions the plus sign 5px from the right. Centers it using the transform property. */

.accordion .label::before {
  content: '+';
  color: lightgray;
  position: absolute;
  top: 50%;
  right: -5px;
  font-size: 20px;
  transform: translateY(-50%);
}

/* Hides the content (height: 0), decreases font size, justifies text and adds transition */

.accordion .content {
  position: relative;
  background: white;
  height: 0;
  opacity: 70%;
  font-size: 13px;
  text-align: justify;
  overflow: hidden;
  transition: 0.5s;
}

.accordion .content span {
  padding: 10px;
  border-radius: 10px;
}


/* Adds a horizontal line between the contents */

.accordion hr {
  width: 100;
  margin-left: 0;
  
}

/* Unhides the content part when active. Sets the height */

.accordion .ctn.active .content {
  height: 230px;
}

/* Changes from plus sign to negative sign once active */

.accordion .ctn.active .label::before {
  content: '-';
  font-size: 30px;
}